.postContent {
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 0.4em;
}

.postsMeta {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
}

.postMetaData {
	font-size: 24px;
	line-height: 28px;
	margin-top: 0.4em;
	margin-right: 1em;

	svg {
		font-size: 0.85em;
		margin-right: 0.3em;
	}
}
